body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #e0e0e0;
}

h1 {
    text-align: center;
    color: #ffffff;
}

.toggle-icon {
    background-image: url('../images/soleil.png'); /* Icône de soleil pour le mode sombre */
    background-size: cover;
    background-position: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

label {
    color: #e0e0e0;
    font-weight: bold;
}

.input-group {
    width: 100%;
    padding: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    background-color: #2a2a2a;
    color: #e0e0e0;
    border: 1px solid #555;
}

textarea {
    background-color: #2a2a2a;
    color: #e0e0e0;
    border: 1px solid #555;
}

button {
    background-color: #0056b3;
    color: #fff;
}

button:hover {
    background-color: #004080;
}

.renseignement {
    background-color: #333;
    color: #e0e0e0;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.contact-info p, .footer-entreprise p {
    color: #e0e0e0;
}

/* Style du footer en mode sombre */
footer {
    background-color: #1e1e1e;
    color: #e0e0e0;
    border-top: 2px solid #444;
}

.footer-plan .link-columns ul li a, .footer-rgpd a {
    color: #66b2ff;
}

.footer-plan h3, .footer-entreprise h3 {
    color: #ffffff;
}

/* Styles pour la section présentation du BUT */
.presentation-but {
    background-color: #333;
    color: #e0e0e0;
}

.presentation-but h1 {
    color: #e57373;
}

.presentation-but h2 {
    color: #e0e0e0;
}

.table-container th {
    background-color: #e57373;
    color: #ffffff;
}

/* Styles pour la section des compétences */
.competence-block {
    background-color: #444;
    color: #e0e0e0;
}

.competence-item {
    background-color: #444;
    color: #e0e0e0;
    
}

.competence-section h3 {
    color: #e0e0e0;
}
